table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    border: solid 1px #0184db;
    padding: 5px;
}

th{
    background-color: #004d80;
    color: #ffffff;
    text-align: left;
}

tr:nth-child(even){
    background-color: #eee;
}

tr:hover{
    background-color: #84c7f3;
    cursor: pointer;
}
